# Gradle files
.gradle/
build/
*/build/
app/build/
gradle-app.setting
!gradle-wrapper.jar

# IDE files
.idea/
*.iml
*.ipr
*.iws
.DS_Store
out/
captures/

# Local configuration
local.properties

# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
obj/

# Logs
*.log
*.log.*
